@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap&subset=latin-ext&text=MarcinKołodziej');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background:#ccc;
/*	background-image:linear-gradient(hsl(60, 5%, 60%),hsl(60, 30%, 90%),hsl(60, 5%, 60%));*/
	color:#020;
}

/*Górny pasek menu*/
.menu{
	width:90%;
	max-width:1084px;
	margin:auto;
	margin-top:2px;
	position:sticky;
	text-align:center;
	top:0px;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 1;
	border-radius:5px;
}

/*Nieodwiedzony, odwiedzony link*/
a:link, a:visited{
	color:yellow;
}

a:hover{
	color:#44f;
/*	text-shadow: 1px 1px 2px grey;*/
}

p a:link, p a:visited{
	color:#228;
}

p a:hover{
	color:#44f;
}

/* Pudło, w którym zamknięta jest strona oprócz górnego paska z menu*/
.container{
	max-width:1084px;
	width:90%;
	margin:auto;
	margin-top:1%;	
	align:center;
}

h1{
/*	font-size:3rem;*/
	font-size:48px;
	text-shadow: 5px 5px 5px grey;
	color:white;
}

h2{
	padding-top:20px;
}

h3{
	padding-left:25px;
	padding-right:25px;
	line-height:2;
	word-spacing:2px;
}

/*Nagłówek strony zawierający zdjęcie i tło*/
.header{
	background-image:url("https://hjbxjw.bn1303.livefilestore.com/y2pxclj683ndgi-Ugs5JcJBWS0oHBVMdWXxEP6u7JYj9LjxpivNcGii53n1cHV14uYaHiWoqnIszsNfPSHYUvbhFT-5EprcFbznELKxAjnk3U4/landscape.jpg?psid=1");
	background-size:cover;
  background-position: center;
	margin:auto;
	height:15rem;
	display:flex;
	justify-content:right;
	box-shadow: 0px 0px 5px;
}

.header h1{
	margin:auto;
	font-family: 'Bangers', cursive;
	letter-spacing:5px;
	position: relative;
	animation: h1-animation;
	animation-duration: 1s;
/*  animation-fill-mode: forwards;*/
}

@keyframes h1-animation {
	0% {left:-100px;}
	100% {left:0px;}
}

/*.header a{
	width:154px;
}*/

.header img{
/*	width:100%;*/
	height:13rem;
	margin-top:1rem;
	margin-bottom:1rem;
	margin-right:1rem;
	position:relative;
	border-radius:5px;
	box-shadow: 5px 5px 5px #bbb;
}

/*Pudło zawierające cztery kafelki*/
.nav{
	width:80%;
	margin-left:10%;
	margin-right:10%;
/*	min-height:3.5rem;*/
	top:10px;
	left:10%;
	right:10%;
	margin-top:2rem;
	animation: nav-animation;
	animation-duration: 2s;
/*  animation-delay: 1.1s;*/
}

@keyframes nav-animation {
  0%   {opacity : 0;}
  100% {opacity : 1;}
}

/*Kafelek*/
.tile{
	width:48%;
	height:48%;
	margin:1%;
	float:left;
	text-align:center;
	padding-top:5%;
	padding-bottom:5%;
	border-radius:5px;
	box-shadow: 0px 0px 5px;
	font-size:24px;
  transition:all 0.2s;
}

.t_work{
	background:#c50;
}

.t_development{
	background:#aa0;
}

.t_interests{
	background:#5a0;
}

.t_contact{
	background:#05a;
}

.tile:hover {
  background:rgba(0,0,0,0.2);
	font-weight:800;
	color:white;
}

#Work{
	background-image:linear-gradient(-15deg,#ccc,#ff974d);
	margin-top:100px;
	margin-bottom:50px;
	padding:10px;
	border-radius:5px;
}

#Development{
	background-image:linear-gradient(-15deg,#ccc,#ff6);
	margin-top:100px;
	margin-bottom:50px;
	padding:10px;
	border-radius:5px;
}

#Interests{
	background-image:linear-gradient(-15deg,#ccc,#bfff80);
	margin-top:100px;
	margin-bottom:50px;
	padding:10px;
	border-radius:5px;
}

#Contact{
	background-image:linear-gradient(-15deg,#ccc,#80bfff);
	margin-top:100px;
	margin-bottom:50px;
	padding:10px;
	border-radius:5px;
}

p, .list{
	padding-left:50px;
	padding-right:50px;
	line-height:2;
	word-spacing:2px;
}

/*Zdjęcia, oprócz tego w nagłówku. Zawierają informacje o czasie przejścia*/
.foto{
	margin:10px;
	background-size:contain;
  transition:all 0.5s linear;
}

/*Klasa dla zdjęć rzutowanego obrazu Słońca*/
.square{
  width:252px;
	height:252px;
}

/*s1-s4 - zdjęcia obrazu Słońca.*/
.s1{
	background:url("Foto/Słońce-1.jpg") no-repeat;
	background-size:contain;
}

.s2{
	background:url("Foto/Słońce-2.jpg") no-repeat;
	background-size:contain;
}

.s3{
	background:url("Foto/Słońce-3.jpg") no-repeat;
	background-size:contain;
}

.s4{
	background:url("Foto/Słońce-4.jpg") no-repeat;
	background-size:contain;
}

/*Siatka w której znajdują się zdjęcia w dziale o podczerwieni*/
.grid{
  display: grid;
	grid-template: 1 / 1;
}

/*Pudło zawierające zdjęcia w świetle widzialnym*/
.containerFoto{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
  grid-area: 1 / 1 / 2 / 2;
}

/*Pudło zawierające zdjęcia w podczerwieni. Po najechaniu kursorem zakrywa poprzednie pudło ".container"*/
.containerFotoP{
	top:100px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
  grid-area: 1 / 1 / 2 / 2;
}

/*Klasa dla zdjęć pionowych w dziale o podczerwieni*/
.portrait{
  width:360px;
	height:480px;
}

/*Klasa dla zdjęć poziomych w dziale o podczerwieni*/
.landscape{
  width:480px;
	height:360px;
}

/*Zdjęcie w świetle widzialnym*/
.f1{
	background-image:url("Foto/1.jpg");
}

/*Zdjęcie w podczerwieni*/
.f1p{
	background-image:url("Foto/1p.jpg");
	opacity:0;
}

/*Staje się widoczne po najecaniu kursorem*/
.f1p:hover{
	opacity:1;
}

.f2{
	background-image:url("Foto/2.jpg");
}

.f2p{
	background-image:url("Foto/2p.jpg");
	opacity:0;
}

.f2p:hover{
	opacity:1;
}

.f3{
	background-image:url("Foto/3.jpg");
}

.f3p{
	background-image:url("Foto/3p.jpg");
	opacity:0;
}

.f3p:hover{
	opacity:1;
}

.f4{
	background-image:url("Foto/4.jpg");
}

.f4p{
	background-image:url("Foto/4p.jpg");
	opacity:0;
}

.f4p:hover{
	opacity:1;
}

/*Filmik*/
.movie{
	display:flex;
	justify-content:center;
}

/*Stopka*/
.footer{
	position:sticky;
	background:#6b0;
	width:100%;
	min-height:3rem;
	top:200%;
	left:10%;
	right:10%;
	margin-top:2rem;
	border-radius:5px;
	display:flex;
	padding:0;
}

@media all and (max-width:1200px) {
	.nav{
		top:1px;
	}
}

@media all and (max-width:707px) {
	.header{
		height:13rem;
	}
	.header >h1{
		text-align:center;
	}
/*	.header a{
		margin-right:-30px;
	}*/
	.header img{
		height:11rem;
	}
	.square{
  	width:126px;
		height:126px;
	}
	.tile{
		font-size:20px;
	}
}

@media all and (max-width:580px) {
	.header{
		height:10rem;
	}
	.header >h1{
		text-align:center;
		font-size:1.5rem;
	}
/*	.header a{
		width:100px;
		margin-right:-20px;
	}*/
	.header img{
		height:8rem;
	}
	.header a h1{
		font-size:16px;
	}
	h2{
		padding-top:150px;
	}
	p, .list{
		padding-left:10px;
		padding-right:10px;
		line-height:2;
		word-spacing:auto;
	}
	.tile{
		font-size:18px;
	}
}

@media all and (max-width:517px) {
	.tile{
		font-size:16px;
	}
	.landscape{
 		width:360px;
		height:270px;
	}
}

@media all and (max-width:400px) {
	.header a{
		margin-right:-18px;
	}
	.tile{
		font-size:12px;
	}
	.square{
  	width:116px;
		height:116px;
	}
	.landscape{
 		width:240px;
		height:180px;
	}
	.portrait{
 		width:240px;
		height:320px;
	}
}
